.loginContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 35%;
  margin-top: 100px;
}


.loginContainer input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease;
}

.loginContainer input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.loginContainer input:focus {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}


.btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(90deg, #398ffd, #3975ff);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #1041b5, #1041b5);
  box-shadow: 0 0 15px rgba(56, 249, 215, 0.6);
  transform: scale(1.05);
}


@keyframes glow {
  0% { box-shadow: 0 0 5px rgba(255,255,255,0.2); }
  50% { box-shadow: 0 0 20px rgba(255,255,255,0.4); }
  100% { box-shadow: 0 0 5px rgba(255,255,255,0.2); }
}

.loginContainer input:focus,
.btn:hover {
  animation: glow 1.5s infinite;
}

@media (max-width: 450px) {
  .loginContainer {
    width: 85%;
    padding: 30px 25px;
  }
}